# 1. Import Necessary libraries

In [1]:
import pandas as pd

# 2. Import Dataset

In [3]:
claimants_data = pd.read_csv('claimants.csv')
claimants_data

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

# 3. Data Understanding

## 3.1 Initial Analysis

In [4]:
claimants_data.shape

(1340, 7)

In [5]:
claimants_data.isna().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [6]:
claimants_data.dtypes

CASENUM       int64
ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

# 4. Data Preparation

In [7]:
del claimants_data['CASENUM']

In [8]:
claimants_data.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [9]:
claimants_data.dropna(axis=0,inplace=True)

In [10]:
claimants_data.isna().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [11]:
claimants_data.shape

(1096, 6)

In [12]:
1340-1096

244

In [13]:
claimants_data.head(30)

    ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0          0     0.0       1.0       0.0    50.0  34.940
1          1     1.0       0.0       0.0    18.0   0.891
2          1     0.0       1.0       0.0     5.0   0.330
3          0     0.0       1.0       1.0    31.0   0.037
4          1     0.0       1.0       0.0    30.0   0.038
5          0     1.0       1.0       0.0    35.0   0.309
6          0     0.0       1.0       0.0     9.0   3.538
7          0     1.0       1.0       0.0    34.0   4.881
8          1     1.0       1.0       0.0    60.0   0.874
10         0     1.0       1.0       0.0    37.0   6.190
11         0     0.0       1.0       0.0    41.0  19.610
12         1     0.0       1.0       0.0     7.0   1.678
13         0     1.0       1.0       0.0    40.0   0.673
14         1     1.0       1.0       0.0    37.0   0.143
15         1     1.0       0.0       0.0     9.0   0.053
16         1     1.0       1.0       0.0    58.0   0.050
17         0     0.0       1.0       0.0    58.0   0.758
18         1     0.0       1.0       0.0     3.0   0.000
19         0     1.0       1.0       0.0    38.0   4.754
21         1     1.0       1.0       0.0    39.0   0.130
22         0     0.0       0.0       0.0    38.0  16.161
24         1     0.0       1.0       0.0    54.0  10.040
25         1     1.0       1.0       0.0     3.0   0.787
26         1     0.0       1.0       0.0    61.0   0.150
27         0     0.0       1.0       0.0     0.0   0.405
28         1     0.0       1.0       0.0    40.0   0.405
30         1     1.0       1.0       0.0    16.0   3.994
32         1     0.0       1.0       0.0     9.0   0.603
33         0     1.0       1.0       0.0    35.0   1.673
34         0     1.0       1.0       0.0    35.0   4.751

# 5. Model Building

### 2 Step process:

1. Separate Input and Output
2. Perform some **Model Validation Techniques:**
    * Train-Test Split
    * K-Fold Cross Validation
    * Leave One Out Cross Validation

In [19]:
X = claimants_data.drop('ATTORNEY',axis =1)
y = claimants_data[['ATTORNEY']]

In [20]:
X.shape,y.shape

((1096, 5), (1096, 1))

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=123,shuffle=True)

In [27]:
X_train.shape,y_train.shape #Training samples

((876, 5), (876, 1))

In [29]:
X_test.shape,y_test.shape #Test samples

((220, 5), (220, 1))

# 6. Model Training

In [32]:
import warnings
warnings.filterwarnings('ignore')

In [66]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression()

LogisticRegression()

In [76]:
%%time
logistic_model.fit(X_train,y_train)

Wall time: 34.9 ms

LogisticRegression()

In [79]:
logistic_model.coef_

array([[ 0.19573154,  0.16837949, -0.1384335 ,  0.18505522, -3.59311548]])

In [80]:
logistic_model.intercept_

array([-0.63961026])

# 7. Model Testing || 8. Model Evaluation

### Training Accuracy

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
y_pred_train = logistic_model.predict(X_train)

In [40]:
accuracy_score(y_train,y_pred_train)

0.7134703196347032

### Test Accuracy

In [37]:
y_pred_test = logistic_model.predict(X_test)

In [41]:
accuracy_score(y_test,y_pred_test)

0.6863636363636364

# 9. Model Deployement

In [42]:
from pickle import dump

In [43]:
dump(logistic_model,open('claimants_intelligene.pkl','wb'))

In [44]:
from pickle import load

In [46]:
loaded_intelligence = load(open('claimants_intelligene.pkl','rb'))

In [48]:
y_pred_deployemet = loaded_intelligence.predict(X_test)

## ========================================================================

# MODEL OPTIMIZATION TECHNIQUES

## 1. STANDARDIZE AND CHECK THE ACCURACY

In [70]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
scaled_X = std_scaler.fit_transform(X)
scaled_X

array([[-1.13916369,  0.32550512, -0.13633547,  1.05048704,  2.96924493],
       [ 0.87783697, -3.07214831, -0.13633547, -0.51942439, -0.28328699],
       [-1.13916369,  0.32550512, -0.13633547, -1.15720091, -0.33687653],
       ...,
       [ 0.87783697,  0.32550512, -0.13633547,  0.51082998, -0.35894281],
       [ 0.87783697, -3.07214831, -0.13633547, -1.01002171, -0.06491676],
       [ 0.87783697,  0.32550512, -0.13633547,  0.0692924 , -0.30267857]])

In [71]:
X_train,X_test,y_train,y_test = train_test_split(scaled_X,y,test_size=0.20,random_state=123)

In [72]:
logistic_model.fit(X_train,y_train)

LogisticRegression()

In [73]:
%%time
y_pred_train = logistic_model.predict(X_train)

Wall time: 998 Âµs

In [74]:
accuracy_score(y_train,y_pred_train)

0.7180365296803652

In [75]:
y_pred_test = logistic_model.predict(X_test)
accuracy_score(y_test,y_pred_test)

0.6681818181818182

# THE END!!